<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geoscene.topo.admin.mapper.UmsAdminMapper">

    <select id="selectAdminPage" resultType="com.geoscene.topo.admin.entity.UmsAdminExtend">
        SELECT
        a.*,
        d.id as dept_id,
        d.name as dept_name
        FROM ums_admin a
        LEFT JOIN ums_admin_dept_relation ad ON a.id = ad.admin_id
        LEFT JOIN ums_dept d ON ad.dept_id = d.id
        WHERE
        1=1
        <if test="deptId!=null">
            AND d.id =#{deptId}
        </if>
        <if test="keyword!=null and ''!=keyword">
            AND (
            a.username LIKE CONCAT(CONCAT('%', #{keyword}), '%')
            OR
            a.nick_name LIKE CONCAT(CONCAT('%', #{keyword}), '%')
            )
        </if>
        <if test="nickName!=null and nickName!=''">
            and a.username like CONCAT(CONCAT('%', #{nickName}), '%')
        </if>
        <if test="userName!=null and userName!=''">
            and a.nick_name like CONCAT(CONCAT('%', #{userName}), '%')
        </if>
        ORDER BY a.sort
    </select>
</mapper>